<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <script src="../common/polyfills.js"></script>
    <script src="../common/linq.min.js"></script>
    <title>ToDo リスト</title>
    <style type="text/css">
        .completed-task {
            color: #777777;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id="todo_list">
    <ul class="group">
        <todo-item v-for="task in tasks" v-bind:task="task" @remove="remove(task)"></todo-item>
    </ul>
    <input type="text" v-model="newTask" @keyup.enter="add" placeholder="input new task">
    <button v-on:click="add">追加</button>
</div>
</body>
<script>
    // カスタムディレクティブ
    Vue.directive('focus', {
        inserted: function(el) {
            el.focus();
        }
    });

    Vue.component('todo-item', {
        /* メモ
            @submi.stop.prevent
            -> .stop でイベントの電波を抑止、 .prevent でデフォルトのイベントの動作を抑止
                こういうのを ディレクティブフック という
            
                @blur : フォーカスがはずれたときのイベント
         */
        template: `
            <li>
                <input type="checkbox" v-model="task.completed">
                <span v-bind:class="[task.completed ? 'completed-task' : '']">
                    {{ task.id }} - 
                    <form v-if="editMode" @submit.stop.prevent="fix">
                        <input v-model="task.text" @blur="fix" v-focus>
                    </form>
                    <span v-else @click="editMode = true">{{ task.text }}</span>
                </span>
                <a href="#" @click="remove">削除</a>
            </li>
        `,
        props: ['task'],
        data: function() {
            return {
                editMode: false,
            }
        },
        methods: {
            remove: function() {
                // remove という名前でイベントを発行する
                this.$emit('remove');
            },
            edit: function() {
                this.editMode = true;
            },
            fix: function() {
                this.editMode = false;
            },
        },
    })

    let todoList = new Vue({
        el: '#todo_list',
        data: {
            newTask: '',
            tasks: [
                {id: 1, text: 'task1', completed: false,},
                {id: 2, text: 'task2', completed: false,},
                {id: 3, text: 'task3', completed: false,},
            ],
        },
        methods: {
            add: function () {
                if (!this.hasNewTask()) {
                    return;
                }
                const ids = this.tasks.map(x => x.id);
                const nextId = Math.max.apply(null, ids.concat([1])) + 1; // 何もない時に 1 を初期値として渡す
                this.tasks.push({
                    id: nextId,
                    text: this.newTask,
                });
                this.newTask = '';
            },
            hasNewTask: function() {
                return this.newTask !== '' && this.newTask !== null;
            },
            remove: function (task) {
                this.tasks.remove(task);
            },
            changeState: function (task) {
                task.completed = !task.completed;
            },
        }
    });
</script>
</html>

