<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <title>ToDo リスト</title>
</head>
<body>
<div id="todo_list">
    <ul class="group">
        <li class="card" v-for="task, index in tasks">
            <input v-model="task.text">
            <button v-on:click="complete(index)">完了</button>
        </li>
    </ul>
    <input type="text" v-model="newTask" @keyup.enter="add">
    <button v-on:click="add">追加</button>
</div>
</body>

<script>
    let todoList = new Vue({
        el: '#todo_list',
        data: {
            newTask: '',
            tasks: [],
        },
        methods: {
            complete: function (removing_id) {
                this.tasks.splice(removing_id, 1);
            },
            add: function () {
                if (!this.hasNewTask()) {
                    return
                }
                this.tasks.push({text: this.newTask});
                this.newTask = '';
            },
            hasNewTask: function() {
                return this.newTask != '' && this.newTask != null
            }
        }
    });
</script>
</html>

